



body {
    font-family: 'Inter', sans-serif;
    font-size: px; /* El tamaño de la fuente principal en el tag <p></p> */
    background-color: #444444; /* El color del fondo de la página web */
    color: #ffffff; /* El color del texto*/ 
    border: 10px groove #FD98FB
    
    
    
    
    
}
h1 {
    color:  #5988FF; /* El color de la cabecera */
    font-size: 50px; /* El tamaño de la fuente de la cabecera */
    text-decoration:underline;
    text-decoration-color: #D6FF6B

}

@keyframes color-change {
    0% {
      color: blue;
    }
  
    50% {
      color: red;
    }
  
    100% {
      color: blue;
    }
}

h1:hover {
    animation: color-change 3s infinite;
}